<!DOCTYPE html>
<html>
    <head>
        <title>Post App Page</title>
        <link rel="stylesheet" type ="text/css" href="/styles/style.css">
        <scripts src="/scripts/main.js" />
    </head>
    <body>
